form{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content-form h1{
  font-size: 2em;
  font-weight: 800;
}
form .content-form{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
}
form .content-form input{
  outline-color: none;
  border-radius: 4px;
  width: 300px;
  height: 40px;
  background-color: var(--colorCardBackgroung);
  color: #ffffff;
  padding: 0 5px;
  margin: 10px 0;
  border: none;
  transition: 0.3s;
}
form .content-form input[type='email']:focus,
form .content-form input[type='password']:focus{
  outline-color: #4f4fff;
  padding-left: 7px;
}
form .content-form .submit{
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  background-color: var(--colorCardBackgroung);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}
form .content-form .submit p{
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  color: #ffffff;
}
form .content-form .submit img{
  width: 20px;
  height: 20px;
  filter: invert(1);
}
form .content-form .submit:hover{
  background-color: #2a2a2a;
}