header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 3%;
  background-color: var(--colorCardBackgroung);
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  width: 50px;
  height: 50px;
}
header .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu{
  width: 0px;
  height: 100vh;
  background-color: var(--colorCardBackgroung);
  position: fixed;
  overflow: hidden;
  z-index: 200;
  top: 0;
  left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  box-shadow: 0 0 10px #0000009d;
}
.menu.active{
  width: 250px;
}
.menu .menu-items{
  margin-top: 4.5em;
  width: 100%;
  /* padding: 20px; */
}
.menu .menu-items li a{
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}
.menu .menu-items li a:hover{
  background-color: #2a2a2a;
}
.menu .logout:hover{
  background-color: #2a2a2a;
}

.menu .logout{
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}
.menu .logout p{
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}
.menu .logout img{
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.toggle{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border: none;
  background-color: var(--colorCardBackgroung);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 10px #0000009d;
}
.toggle.active{
  transform: rotate(315deg);
}
.toggle img{
  width: 100%;
  height: 100%;
  filter: invert(1);
}

/* cdm #################################### */

.container-cdm .user{
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: var(--colorCardBackgroung);
  color: #ffffff;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}
.container-cdm .user h3{
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.container-cdm .user p{
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}