@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background-color: #e6e6e6;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo{
  width: 50px;
  height: 50px;
}
header .logo img{
  width: 100%;
  height: 100%;
  filter: invert(1);
}
header .menu{
  list-style: none;
  display: flex;
  align-items: center;
}
header .menu li{
  margin: 0 10px;
}
header .menu li a{
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #212121;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}
header .menu li a:hover{
  background-color: #2a2a2a;
}
header .logout{
  text-decoration: none;
  background-color: #fa404c;
  padding: 10px ;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 4px;
  color: #ffffff;
}
header .logout p{
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}
header .logout img{
  width: 20px;
  height: 20px;
  filter: invert(1);
}

/* cdm #################################### */

.container-cdm{
  width: 100%;
  height: 100%;
  margin-top: 4.5em;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.container-cdm .user{
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: #212121;
  color: #ffffff;
  border-radius: 6px;
  margin: 0 10px 10px 0;
}
.container-cdm .user h3{
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.container-cdm .user p{
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}