<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Blog</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="shortcut icon" href="../public/img/logobranco.ico" type="image/x-icon" sizes="256x256">
</head>
<body>
  <%- include('./partials/header.html') %>

  <div class="container">
    <div class="container-pedido">
      <div class="info">
        <p>Usuario: casadeadoracao@cda.email.com</p>
        <p><%= contagem %> noticias cadastradas</p>
      </div>
      <form action="/blog" class="cadBlog" method="post">
        <h1>Cadastrar noticia</h1>
        <input type="text" placeholder="Titulo" required name="title">
        <textarea rows="4" cols="39" maxlength="700" required placeholder="Assunto" name="assunto"></textarea>
        <input type="text" placeholder="Autor" required name="autor">
        <input type="submit" value="Enviar">
      </form>
      <% for(let i = 0; i < nLimit.length; i++) { %>
        <div class="pedido">
            <h3><%= nLimit[i].title %></h3>
            <p><%= nLimit[i].createdAt %> - por: <strong><%= nLimit[i].autor %></strong></p>
            <a class="delete" href="/blog-delet/<%= nLimit[i].id %>">Deletar</a>
        </div>
      <% }%>
    </div>
  </div>
    
  
</body>
</html>