<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Admin atualizar noticia | Blog</title>
  <%- include('./partials/head.html') %>
</head>
<body>
  <%- include('./partials/header.html') %>

  <div class="container-blog">
    <div class="container-content-blog">

      <div class="info">
        <p>Usuario: casadeadoracao@cda.email.com</p>
        <p><%= contagem %> noticias cadastradas</p>
      </div>

      <form action="/blog-update/<%= data._id %>" class="cadBlog" method="post">
        <h1>Atualizar noticia</h1>

        <div class="cadBlog-content">
          <div class="left">
            <input type="text" placeholder="Titulo" required name="title" value="<%= data.title %>">
            <input type="text" placeholder="Autor" required name="autor" value="<%= data.autor %>">
            <input type="text" placeholder="Categoria" required name="category" value="<%= data.category %>">
            <button type="submit" class="submit"><p>Atualizar</p><img src="../public/img/update.svg" alt=""></button>
          </div>
          <div class="rigth">
            <textarea required placeholder="Assunto" name="assunto"><%= data.body %></textarea>
          </div>
        </div>
      </form>

      <% for(let i = 0; i < nLimit.length; i++) { %>
        <div class="card-noticia">
          <span>
            <p>Titulo: <%= nLimit[i].title %></p>
            <p>Data: <%= nLimit[i].createdAt %></p>
            <p>Autor: <%= nLimit[i].autor %></p>
            <p>Categoria: <%= nLimit[i].category %></p>
          </span>
          <div class="btns">
            <a class="delete" href="/blog-delet/<%= nLimit[i].id %>"><img src="../public/img/trash-bin.svg" alt=""></a>
          </div>
        </div>
      <% }%>

    </div>
  </div>
    
  <script src="../public/js/script.js"></script>
</body>
</html>